*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Feito a centralização, altura e cor do body */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: beige;
}

/* Feito a separação dos cards através do gap pela classe container */
.container{
    display: flex;
    gap: 20px;
    
}

/* Centralização do card com uma leve sombra e bordas arredondadas */
.card{
    display: grid;
    place-content: center;
    justify-items: center;
    height: 200px;
    width: 200px;
    border-radius: 30px;
    background-color: white;
    box-shadow:5px 5px 5px #0009;
}

/* Bordas arredondadas para a imagem dos funcionários */
img{
    width: 100px;
    border: none;
    border-radius: 50%;
   

}

/* Aumento de fonte do span e fonte em negrito */
span{
    font-size: 20px;
    font-weight: bold;
}

/* Aumento de fonte do p */
p{
    font-size: 15px;
}